<div class="container">
  <h1>Hello, Marko!</h1>
  <p>This is a simple Marko page.</p>
  <a href="/stream-example">Go to Stream Example</a>
</div>

<style>
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: clamp(1em, 2vw, 2em);
    padding: 1em;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
  }
</style>
